.cabecalho {
    background-color: #ff17f3;
color: blueviolet;
color: violet;
    text-align: center;
    padding: 20px;


  background-color: #c830ee; 
    color: rgb(237, 33, 255); 
  padding: 10px;
  display: flex;
 width: 1000%;
 height: 1000%;
 font-size: medium;
 text-transform: uppercase;
 letter-spacing: 0.6em;
  font-family: 'Montserrat', sans-serif;

  align-items: center;





}

.cabecalho_logo
{
padding: 1.5em  0;
width: 14.5em;



}

.cabecalho__menu{
  display: flex;
  background-color: #0a0a0a;
  margin-top: 1.5em;
  counter-increment: none;
  flex-wrap: wrap;
  justify-content: left;
}
.cabecalho__item-menu {

display: inline-block;

}

.cabecalho__link-menu {
  color: #9605f7;
  text-decoration: none;
  font-size: 1.2em;
  padding: 1.5em;
  display: block;
} 

.cabecalho__link-menu a{

  display: inline-block;
  padding: 1.86 1.42em;

}
@media (max-width: 640px) {
  .cabecalho__menu {
    padding: 0.50;
    display: flex;
    justify-content: space-between;
    align-items: right;
  }
}

