.cabecalho {
  background-color: #d10bb7; /* roxo */
  color: rgb(233, 23, 215);
  width: 100%; /* ocupa toda a largura da tela */
  height: 500px;
  display: flex;
  align-items: center;
  justify-content: flex-start; /* conteúdo alinhado à esquerda */
  padding: 10px; /* espaçamento interno */
  font-size: medium;
  text-transform: uppercase;
  letter-spacing: 0.4em;
  font-family: 'Montserrat', sans-serif;
  background-position: center;
  margin: 0; /* remove margens externas */
}
.cabecalho_logo
{
padding: 1.5em  0;
width: 14.5em;



}

.cabecalho__menu{
  display: flex;
  background-color: #0a0a0a;
  margin-top: 1.5em;
  counter-increment: none;
  flex-wrap: wrap;
  justify-content: left;
}
.cabecalho__item-menu {

display: inline-block;

}

.cabecalho__link-menu {
  color: #9605f7;
  text-decoration: none;
  font-size: 1.2em;
  padding: 1.5em;
  display: block;
} 

.cabecalho__link-menu a{

  display: inline-block;
  padding: 1.86 1.42em;

}
@media (max-width: 640px) {
  .cabecalho__menu {
    padding: 0.50;
    display: flex;
    justify-content: space-between;
    align-items: right;
  }
}

