.cabecalho {
    background-color: #ff17f3;
color: blueviolet;
color: violet;
    text-align: center;
    padding: 20px;


  background-color: #c830ee; 
    color: rgb(237, 33, 255); 
  padding: 20px;
  text-align: center;




}