body{
    background-color: #ffffff;
}



figure{
    margin: 30px;
    padding: 10px;
    text-align:center;
    background-color:rgb(25, 16, 26);
    border: 1px solid rgb(10, 7, 10);
}

     

    .conteiner{
        background-color: linear-gradient(margin-bottom rgb(255, 0, 200), rgb(255, 255, 255));
        width: 100px;
        height: auto;
        border-radius: 20px;
        text-align: center;
        display: block;
        margin: 0 auto;
    }