body{
    background-color: #eeeeee;
}



figure{
    margin: 300px;
    padding: 10px;
    text-align:center;
    background-color:rgb(1355, 50, 1455);
    border: 100px solid rgb(10, 7, 10);
}

     

    .conteiner{
        background-color: linear-gradient(margin-bottom rgb(255, 0, 200), rgb(255, 255, 255));
        width: 100px;
        height: auto;
        border-radius: 100px;
        text-align: center;
        display: block;
        margin: 0 auto;
    }