body
{
    margin-left: auto;
     margin-right: auto;
  width: 940px;
font-family: 'Times New Roman', Times, serif, Helvetica, sans-serif;
color: rgb(162, 0, 255);
} 

era h1 virou .titulo

.titulo

{
    padding: 10px;
    background-color: rgb(255, 255, 255);
   
}

figure{
    margin: 30px;
    padding: 10px;
    text-align:center;
    background-color:rgb(247, 6, 255);
    border: 1px solid rgb(234, 9, 255);
}

img {
    width:600px;
    padding: 10xp 
}
.matriz da empresa{  
width: 550xp;
margin-left: auto;
margin-right: auto;

}

figcaption{
margin-top: 10px    ;


}






