body
{
    margin-left: auto;
     margin-right: auto;
  width: 940px;
font-family: 'Times New Roman', Times, serif, Helvetica, sans-serif;
color: rgb(162, 0, 255);
} 

era h1 virou .titulo

.titulo

{
    padding: 10px;
    background-color: rgb(255, 255, 255);
   
}

figure{
    margin: 30px;
    padding: 10px;
    text-align:center;
    background-color:rgb(25, 16, 26);
    border: 1px solid rgb(10, 7, 10);
}

img {
    width:600px;
    padding: 10xp 
}
.matrizdaempresa{  
width: 550xp;
margin-left: auto;
margin-right: auto;

}

figcaption{
margin-top: 10px    ;


}

figure img:hover{
    width: 650px;
    transition: 1.0s;
    box-shadow: 10px 10px 5px rgb(2, 2, 2);
}

figure img

{
width:100%

}

.contato__subtitulo{
    display: inline;
}
.contato__info{
    margin: 16px 0 24px;
    

    margin-left: 15px;
    margin-top: 16px;
    margin-bottom: 24px;
    font-size: 18px;
    line-height: 28px;
}
.contato__info-titulo{
    margin: 16px 0 24px;
    font-weight: bold;
    margin-left: 15px;
    margin-top: 16px;
    margin-bottom: 24px;
    font-size: 18px;
    line-height: 28px;
}       
.contato__secao{
    display: inline-block;
    vertical-align: top;
    margin-left: 15px;
}

.contato__secap--telefone {
    margin-left: 32px;
}

.contato__secao--email {
    margin-left: 45px;
}

.contato__secao--endereco {
    margin-left: 30px;
}

.rodape {
    padding: 1.75em 0;
    font-size: 1.16rem

}
.rodape__logo {
    width: 6em;
    
 
}